* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dashed rgba(237, 103, 18, 1);
}
body {
  padding: 2vh;
  background-color: rgb(173, 173, 173);
}
#intro {
  width: 90vh;
  height: 15vh;
}

h1 {
  margin: 2vh;
}

#goaway {
  display: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.pic {
  display: none;
  height: 20vmin;
  width: 20vmin;
  background-color: rgb(82, 82, 82);
}

#textone, #texttwo, #textthree {
  margin: 2vh 0;


}

@media (min-width: 715px) {
  .pic {
    display: block;
    margin-right: 1%;
    margin-left: 1%;
  }
.pic:not(#notme) {
float: left;
}
#notme {
float: right;
}

#textone, #texttwo, #textthree {
  height: 20vmin;
  width: 90vmin;
  margin: 3vh auto;


}
}
@media (min-width: 1000px) {
  #goaway {
    display: inline-block;
    float: right;
    clear: left;

  }
  #textone, #texttwo, #textthree {
    height: 33vh;
    width: 30vw;
    margin: 1vh auto;
    display: inline-block;
text-align: center;
  }
  .pic {
    height: 15vmin;
    width: 15vmin;
    margin: 3vh auto;
  }
  .pic:not(#notme) {
  float: none;
  }
  #notme {
  float: none;
  }
#texts {
  clear: both;
}

/*.intro h1:nth-child(1) {
  float: left;
  background-color: blue;
}*/
}
